<h4>Post details</h4>
<p>
	<%= @row['content']%>
	<br />
	Added at <%= @row['created_date']%>
	<br />	
</p>

<h4>Comments</h4>
<p>
<form action="/details/<%= @row['id']%>" method="POST" role="form">
	<textarea name="content" class="form-control"  rows="6" placeholder="type comment here"></textarea>
	</br>
  	<button type="submit" class="btn btn-primary">Add comment</button>
</form>	
</p>