<h2>Add new Post</h2>

<p>
<form action="/new" method="POST" role="form">
	<textarea name="author" class="form-control"  rows="2" placeholder="type name here" style="width:200px"></textarea>
	</br>
	<textarea name="content" class="form-control"  rows="6" placeholder="type post here"></textarea>
	</br>
  	<button type="submit" class="btn btn-primary">Submit</button>
</form>	
</p>